#banner-title {
    background-color: cornsilk;
    text-align: center;
    font-style: bold;
    text-decoration: underline;
    color: #301934;
    font-size: 32px;
}

.banner-title {
    text-align: center;
    font-style: italic;
}
/*Table Edits */

th {
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.tables {
   margin: auto;
   text-align: center;
}

h2, h1 {
    text-align: center;
}