/*Banner Edits */

#banner {
    background-color: cornsilk;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #301934;
    font-size: 32px;
    margin: 0 auto;
}

.banner-title {
    text-align: center;
    font-style: italic;
    margin: 0 auto;
}

/*Table Edits */

th {
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

.table-tags, .attributes, .structure-elements, .directory {
    margin: 0 auto 35px;
    text-align: center;
    border-collapse: collapse;
    width: 600px;
}


h2, h1, h4, p {
    text-align: center;
    font-family: Oswald, Merriweather;
}

/*Footer */

.bottom {
    margin: 0 auto;
    background-color: lightpink;
    padding: 10px;
    margin: 0 auto;
    color: lightslategray;
}
