#banner {
    background-color: cornsilk;
    text-align: center;
    font-style: bold;
    text-decoration: underline;
    color: blueviolet;
}
/*Box Edits */

th {
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

